<div class="center hero-unit">
	<h1>Welcome to Postly</h1>
	<p>This is the home page of the sample app.</p>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt:"Rails"), 'http://rubyonrails.org' %>
